body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.header {
    background-color: pink;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background: rgba(163, 165, 178, 0.20);
}

/* Main Content */

.main-content {
    background-color: cyan;

    grid-column: 2 / 3;
    background: rgba(163, 165, 178, 0.20);
}

.container {
    background: white;
    height: 875px;
    margin: 30px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 10px;
    overflow: scroll;
}

.text {
    margin: 0;
    padding: 0; 
}

.card {
    border-radius: 10px;
    border: solid 1px #9F9F9F; 
}

/* Projects */

.projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 3em repeat(auto-fit, minmax(200px, 300px));
    gap: 10px;
}

.project-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    margin-top: 15px;
    gap: 10px;
}

.card.project {
    padding: 10px;
    padding-bottom: 100px;
}


.card-heading-projects {
    margin-bottom: 7px;
}

/* Trending */

.trending-profile-image {
    border-radius: 50%;
    background-color: rgb(179, 179, 179);
    grid-row: 1 / 3;
    justify-self: end;
    margin: 10px;
}

.trending-header {
    margin: 10px;
}

.trending {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 3em 1fr;
    margin-top: 0;
}

.card.trend {
    display: grid;
    margin: 10px;
    height: 250px;
}

.profile {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 7fr;
    padding-bottom: 5px;
}

.profile-heading {
    grid-column: 2 / 3; 
    align-self: end; 
    margin-bottom: 0; 

}

.profile-heading,
.profile-name {
    margin-left: -5px;
    margin-top: -5px;
}

/* Announcements */

.announcements {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 3em minmax(200px, 500px);

}

.announcement-header {
    margin: 10px;
    position: relative;
    top: 10px;
}

.card.announce {
    margin: 10px;
    margin-top: 25px;
    display: grid;
    overflow: scroll;
}

.announce-subsection {
    margin: 0;
    padding: 0 10px;
    padding-bottom: 20px;
}

.header-subsection {
    margin-bottom: 5px;
    padding-top: 10px;
}

.announce-subsection.two {
    margin-top: -30px;
}

.announce-subsection.three {
    margin-top: -30px;
}

/* Sidebar */

.sidebar {
    height: 100vh;
    grid-row: 1 / 3;
    background-color: #363740;
    display: flex;
    flex-direction: column;
    padding:10px;
}

.sidebar-option {
    display: flex;
    margin: -30px 10px;
}

.sidebar-option > img {
    border-radius: 50%;
    background-color: #9F9F9F;
    align-self: center;
    margin-right: 5px;
}

.sidebar > h1 {
    margin: 10px;
    font-size: 36px;
    font-weight: 300;
    color: #c2c3ca;
}

.sidebar-option > p {
    font-size: 22px;
    font-weight: 200;
    color: #c2c3ca;
}

.sidebar-options {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    overflow: auto;
    gap: 30px;
}

.upper-list {
    margin-top: 30px;
}

.lower-list {
    margin-bottom: 30px;
}